:root {
    --primary-color: #005f73; /* Ocean Blue */
    --secondary-color: #fcbf49; /* Golden Yellow */
    --accent1-color: #2d6a4f; /* Emerald Green */
    --accent2-color: #f77f00; /* Bright Orange */
  }

  h1, h2 {
    font-family: 'Poppins', sans-serif; 
    color: var(--primary-color);
  }
  
  p {
    font-family: 'Lora', serif; 
    color: #333; 
  }

  nav {
    background-color: #fcbf49;
    padding: 10px;
  }

  nav a {
    color: #005f73;
    display: -moz-grid-line;
    padding: 20px;
}
  
  nav a:hover {
    color: var(--accent2-color); 
  }
  
  a {
    text-decoration: none;
  }
  .hero {
    position: relative;
    width: 100%;
  }
  
  .hero img {
    width: 100%;
    height: auto;
  }
  
  .hero h1 {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white; 
    font-family: 'Poppins', sans-serif; 
    font-size: 3rem;
  }

  footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  footer a {
    margin: 0 10px;
  }
  
  footer img {
    width: 30px;
    height: 30px;
  }
  section img {
    width: 200px; 
    height: auto; 
    margin: 10px; 
  }
  section {
    background-color: #f77f00;
    padding: 10px;
  }
  section img {
    background-color: #2d6a4f;
    padding: 10px;
  }
  
  
  
